In [1]:
from pathlib import Path
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report
from sklearn.preprocessing import StandardScaler

/Users/troycassels/opt/anaconda3/lib/python3.9/site-packages/scipy/__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.24.2
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [2]:
cd /Users/troycassels/Documents

/Users/troycassels/Documents

In [3]:
file_path = "Documents"

In [4]:
df = pd.read_csv(Path("tweets.csv"))

/var/folders/ds/yr__0mv52qg383xz2bm8ycbw0000gn/T/ipykernel_32764/240215716.py:1: DtypeWarning: Columns (1,2,3,4,5,6,7,8,9,10,11) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(Path("tweets.csv"))

In [5]:
df = df.dropna()

In [6]:
df = df[df["text"].str.contains("ChatGPT | chatgpt | #chatGPT | #chatgpt")==True]

In [7]:
df.head()

,user_name,text,user_location,user_description,user_created,user_followers,user_friends,user_favourites,user_verified,date,hashtags,source
0,Math_Maniac,ChatGPT does ascii art\n#ChatGPT https://t.co/...,"Decatur, GA",I work with a number of tools. Right now it's ...,2020-07-20 14:24:50+00:00,467.0,1233.0,49216,False,2023-04-02 13:44:07+00:00,['ChatGPT'],Twitter Web App
1,SmashKoders,#ChatGPT is funny sometimes üòÖ https://t.co/cSa...,Mumbai,My life changed while debugging code üòä,2022-06-18 04:34:18+00:00,8.0,126.0,239,False,2023-04-02 13:43:46+00:00,['ChatGPT'],Twitter Web App
2,Andreas Illenseer,Let‚Äôs put it in graphic terms. Drawing a #Unic...,"Mainz, Deutschland",Specialized in Regulatory & Digital Intelligen...,2017-10-31 19:35:24+00:00,63.0,188.0,88,False,2023-04-02 13:43:36+00:00,['Unicorn'],Twitter for iPhone
9,Myindianow,ChatGPT will not replace people. But people wh...,"Pune, India",üáÆüá≥,2022-03-02 03:02:43+00:00,14.0,33.0,52,False,2023-04-02 13:40:23+00:00,"['ChatGPT', 'OpenAI', 'AIart']",Twitter for Android
10,Rob,Italy banning open source AI.. #ChatGPT https:...,"London, UK",tech for @theBHF üöÄ ‚ù§Ô∏è,2009-04-25 15:16:05+00:00,207.0,754.0,1124,False,2023-04-02 13:40:12+00:00,['ChatGPT'],Twitter for iPhone

In [8]:
df.iloc[0]

user_name                                                 Math_Maniac
text                ChatGPT does ascii art\n#ChatGPT https://t.co/...
user_location                                             Decatur, GA
user_description    I work with a number of tools. Right now it's ...
user_created                                2020-07-20 14:24:50+00:00
user_followers                                                  467.0
user_friends                                                   1233.0
user_favourites                                                 49216
user_verified                                                   False
date                                        2023-04-02 13:44:07+00:00
hashtags                                                  ['ChatGPT']
source                                                Twitter Web App
Name: 0, dtype: object

In [9]:
df["user_created"] =df["user_created"].apply(lambda x: pd.Timestamp(x).timestamp())

In [10]:
df["date"] =df["date"].apply(lambda x: pd.Timestamp(x).timestamp())

In [11]:
import nltk
nltk.download('vader_lexicon')
from nltk.sentiment.vader import SentimentIntensityAnalyzer
sia= SentimentIntensityAnalyzer()

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     /Users/troycassels/nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

In [12]:
df['scores']=df['text'].apply(lambda body: sia.polarity_scores(str(body)))

In [13]:
df.head()

,user_name,text,user_location,user_description,user_created,user_followers,user_friends,user_favourites,user_verified,date,hashtags,source,scores
0,Math_Maniac,ChatGPT does ascii art\n#ChatGPT https://t.co/...,"Decatur, GA",I work with a number of tools. Right now it's ...,1.595255e+09,467.0,1233.0,49216,False,1.680443e+09,['ChatGPT'],Twitter Web App,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound..."
1,SmashKoders,#ChatGPT is funny sometimes üòÖ https://t.co/cSa...,Mumbai,My life changed while debugging code üòä,1.655527e+09,8.0,126.0,239,False,1.680443e+09,['ChatGPT'],Twitter Web App,"{'neg': 0.0, 'neu': 0.58, 'pos': 0.42, 'compou..."
2,Andreas Illenseer,Let‚Äôs put it in graphic terms. Drawing a #Unic...,"Mainz, Deutschland",Specialized in Regulatory & Digital Intelligen...,1.509479e+09,63.0,188.0,88,False,1.680443e+09,['Unicorn'],Twitter for iPhone,"{'neg': 0.0, 'neu': 0.857, 'pos': 0.143, 'comp..."
9,Myindianow,ChatGPT will not replace people. But people wh...,"Pune, India",üáÆüá≥,1.646190e+09,14.0,33.0,52,False,1.680443e+09,"['ChatGPT', 'OpenAI', 'AIart']",Twitter for Android,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound..."
10,Rob,Italy banning open source AI.. #ChatGPT https:...,"London, UK",tech for @theBHF üöÄ ‚ù§Ô∏è,1.240673e+09,207.0,754.0,1124,False,1.680443e+09,['ChatGPT'],Twitter for iPhone,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound..."

In [14]:
df.iloc[0]

user_name                                                 Math_Maniac
text                ChatGPT does ascii art\n#ChatGPT https://t.co/...
user_location                                             Decatur, GA
user_description    I work with a number of tools. Right now it's ...
user_created                                             1595255090.0
user_followers                                                  467.0
user_friends                                                   1233.0
user_favourites                                                 49216
user_verified                                                   False
date                                                     1680443047.0
hashtags                                                  ['ChatGPT']
source                                                Twitter Web App
scores              {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...
Name: 0, dtype: object

In [15]:
df.dtypes

user_name            object
text                 object
user_location        object
user_description     object
user_created        float64
user_followers       object
user_friends         object
user_favourites      object
user_verified        object
date                float64
hashtags             object
source               object
scores               object
dtype: object

In [16]:
X_not_categorical = df[["user_created","user_followers","user_friends","user_favourites","date"]]
X_not_categorical.head()

    user_created user_followers user_friends user_favourites          date
0   1.595255e+09          467.0       1233.0           49216  1.680443e+09
1   1.655527e+09            8.0        126.0             239  1.680443e+09
2   1.509479e+09           63.0        188.0              88  1.680443e+09
9   1.646190e+09           14.0         33.0              52  1.680443e+09
10  1.240673e+09          207.0        754.0            1124  1.680443e+09

In [17]:
X_categorical_exc_location = df[["user_verified","source"]]
X_categorical_exc_location.head()

   user_verified               source
0          False      Twitter Web App
1          False      Twitter Web App
2          False   Twitter for iPhone
9          False  Twitter for Android
10         False   Twitter for iPhone

In [18]:
X_categorical_exc_location = pd.get_dummies(X_categorical_exc_location)
X_categorical_exc_location.head()

,user_verified_False,user_verified_True,user_verified_False,user_verified_True,source_123WP,source_@vpodk,source_A Bright Fire Posts,source_AI Assistant,source_AI In Plain English,source_AI Photography,...,source_twitbot_haha,source_twitter-app503,source_twitterDemoTest3,source_twitterLisaHunter,source_twitter_com_flume,source_twitto_be_bot,source_usetwype,source_vassbots,source_vijay ds project,source_vish App
0,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [19]:
X = pd.concat([X_not_categorical, X_categorical_exc_location], axis=1)
X.head()

,user_created,user_followers,user_friends,user_favourites,date,user_verified_False,user_verified_True,user_verified_False,user_verified_True,source_123WP,...,source_twitbot_haha,source_twitter-app503,source_twitterDemoTest3,source_twitterLisaHunter,source_twitter_com_flume,source_twitto_be_bot,source_usetwype,source_vassbots,source_vijay ds project,source_vish App
0,1.595255e+09,467.0,1233.0,49216,1.680443e+09,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1.655527e+09,8.0,126.0,239,1.680443e+09,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1.509479e+09,63.0,188.0,88,1.680443e+09,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
9,1.646190e+09,14.0,33.0,52,1.680443e+09,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
10,1.240673e+09,207.0,754.0,1124,1.680443e+09,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [20]:
def vader_scores(text, category):
    return vader.polarity_scores(text).get(category)

vader = SentimentIntensityAnalyzer()

df["Negative_Score"] = df.apply(lambda row : vader_scores(df["text"][row.name], "neg"),axis=1)
df["Neutral_Score"] = df.apply(lambda row : vader_scores(df["text"][row.name], "neu"),axis=1)
df["Positive_Score"] = df.apply(lambda row : vader_scores(df["text"][row.name], "pos"),axis=1)
df["Compound_Score"] = df.apply(lambda row : vader_scores(df["text"][row.name], "compound"),axis=1)

In [21]:
import numpy as np

In [22]:
df["positive"] = np.where(df["Compound_Score"] >= 0.05 , 1, 0)

In [23]:
df["negative"] = np.where(df["Compound_Score"] <= - 0.05 , 1, 0)

In [24]:
df.head(10)

,user_name,text,user_location,user_description,user_created,user_followers,user_friends,user_favourites,user_verified,date,hashtags,source,scores,Negative_Score,Neutral_Score,Positive_Score,Compound_Score,positive,negative
0,Math_Maniac,ChatGPT does ascii art\n#ChatGPT https://t.co/...,"Decatur, GA",I work with a number of tools. Right now it's ...,1.595255e+09,467.0,1233.0,49216,False,1.680443e+09,['ChatGPT'],Twitter Web App,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.000,1.000,0.000,0.0000,0,0
1,SmashKoders,#ChatGPT is funny sometimes üòÖ https://t.co/cSa...,Mumbai,My life changed while debugging code üòä,1.655527e+09,8.0,126.0,239,False,1.680443e+09,['ChatGPT'],Twitter Web App,"{'neg': 0.0, 'neu': 0.58, 'pos': 0.42, 'compou...",0.000,0.580,0.420,0.4404,1,0
2,Andreas Illenseer,Let‚Äôs put it in graphic terms. Drawing a #Unic...,"Mainz, Deutschland",Specialized in Regulatory & Digital Intelligen...,1.509479e+09,63.0,188.0,88,False,1.680443e+09,['Unicorn'],Twitter for iPhone,"{'neg': 0.0, 'neu': 0.857, 'pos': 0.143, 'comp...",0.000,0.857,0.143,0.7574,1,0
9,Myindianow,ChatGPT will not replace people. But people wh...,"Pune, India",üáÆüá≥,1.646190e+09,14.0,33.0,52,False,1.680443e+09,"['ChatGPT', 'OpenAI', 'AIart']",Twitter for Android,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.000,1.000,0.000,0.0000,0,0
10,Rob,Italy banning open source AI.. #ChatGPT https:...,"London, UK",tech for @theBHF üöÄ ‚ù§Ô∏è,1.240673e+09,207.0,754.0,1124,False,1.680443e+09,['ChatGPT'],Twitter for iPhone,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.000,1.000,0.000,0.0000,0,0
11,VALIPOKKANN ‚Ä¢ ùëµùë≠ùëª.ùëµùíÄùë™ ùüêùüë,"Good morning, world! Starting *chatgpt stuck h...",VALIPOKKANN.ETH.co,|| avant garde üåè ‡Æï‡Æ≤‡Øà‡Æû‡Æ∞‡Øç || new account üôÉ||,1.659953e+09,733.0,369.0,31198,False,1.680443e+09,['ChatGPT'],Twitter Web App,"{'neg': 0.201, 'neu': 0.683, 'pos': 0.117, 'co...",0.201,0.683,0.117,-0.2714,0,1
12,Anthony Hadfield Ph.D.,#GPT4 #ChatGPT #OpenAI #ArtificialIntelligence...,"St Petersburg, FL","I have studied CompSci, AI, RL, LA, Vision, Py...",1.457680e+09,26.0,15.0,291,False,1.680443e+09,"['GPT4', 'ChatGPT', 'OpenAI', 'ArtificialIntel...",Twitter Web App,"{'neg': 0.157, 'neu': 0.637, 'pos': 0.205, 'co...",0.157,0.637,0.205,0.5041,1,0
13,Ines Hegedus-Garcia,Join us at Leveraging Generative AI &amp; Chat...,Miami,Architectural REALTOR at Avanti Way Realty pas...,1.175280e+09,14174.0,3351.0,1564,False,1.680443e+09,"['AI', 'ChatGPT']",Twitter for iPhone,"{'neg': 0.0, 'neu': 0.855, 'pos': 0.145, 'comp...",0.000,0.855,0.145,0.2960,1,0
14,Xavier Mareca,Man teaches chatgpt basics\nhttps://t.co/asK8Q...,"Geneva, Switzerland",HR | Multilingual #English #French #Spanish #...,1.289830e+09,838.0,1342.0,33982,False,1.680443e+09,"['ChatGPT', 'technology', 'chatgpt', 'ai', 'ai...",Twitter for Android,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.000,1.000,0.000,0.0000,0,0
18,Anthony Hadfield Ph.D.,#GPT4 #ChatGPT #OpenAI #ArtificialIntelligence...,"St Petersburg, FL","I have studied CompSci, AI, RL, LA, Vision, Py...",1.457680e+09,26.0,15.0,291,False,1.680442e+09,"['GPT4', 'ChatGPT', 'OpenAI', 'ArtificialIntel...",Twitter Web App,"{'neg': 0.104, 'neu': 0.754, 'pos': 0.142, 'co...",0.104,0.754,0.142,0.0772,1,0

In [25]:
df.tail(10)

,user_name,text,user_location,user_description,user_created,user_followers,user_friends,user_favourites,user_verified,date,hashtags,source,scores,Negative_Score,Neutral_Score,Positive_Score,Compound_Score,positive,negative
660277,Christopher Adolphe üá≤üá∫,I wanted to give #ChatGPT a try but I guess I'...,Republic of Mauritius üá≤üá∫,D√©veloppeur Front-End,1.511730e+09,55.0,305.0,1228,False,1.670261e+09,['ChatGPT'],Twitter for Android,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.000,1.000,0.000,0.0000,0,0
660281,Bitcoiner-Father-Son-Husband!,via #ChatGPT \n\nProperty rights in #Bitcoin r...,The internet,"I write ‚úçÔ∏è about #Bitcoin and everything else,...",1.261990e+09,160.0,652.0,3981,False,1.670260e+09,"['ChatGPT', 'Bitcoin']",Twitter Web App,"{'neg': 0.0, 'neu': 0.878, 'pos': 0.122, 'comp...",0.000,0.878,0.122,0.5574,1,0
660283,Sunerds,#ChatGPT came at the right and best time us. üòÅ,Nigeria,"Sunerds is a SaaS software, a productivity app...",1.659353e+09,8.0,3.0,17,False,1.670260e+09,['ChatGPT'],Twitter for Android,"{'neg': 0.0, 'neu': 0.656, 'pos': 0.344, 'comp...",0.000,0.656,0.344,0.6369,1,0
660284,Simone Margaritelli,My new best friend #ChatGPT &lt;3 https://t.co...,@evilsocket@automa.sh,"Music, open source, offensive security, revers...",1.233234e+09,35116.0,528.0,20874,True,1.670260e+09,['ChatGPT'],Twitter Web App,"{'neg': 0.0, 'neu': 0.403, 'pos': 0.597, 'comp...",0.000,0.403,0.597,0.8126,1,0
660286,Made By Cqre,#ChatGPT is awesome just did some cool for @su...,"Abuja, Nigeria","Digital Product Design Company, Brand Consulti...",1.465719e+09,63.0,65.0,646,False,1.670260e+09,"['ChatGPT', 'ChatGPT']",Twitter for Android,"{'neg': 0.0, 'neu': 0.584, 'pos': 0.416, 'comp...",0.000,0.584,0.416,0.7506,1,0
660288,Abhas Tandon,These opinions are not mine. The above critici...,India,Yet another Software Engineer. #JavaScript #no...,1.244302e+09,3549.0,1318.0,1220,False,1.670260e+09,['ChatGPT'],Twitter Web App,"{'neg': 0.144, 'neu': 0.856, 'pos': 0.0, 'comp...",0.144,0.856,0.000,-0.6369,0,1
660290,RŒªan Tomczik,At least #ChatGPT can admit when it makes mist...,"Minneapolis, MN","Functional Programming, Music Theory, Data Eng...",1.323542e+09,279.0,2179.0,6335,False,1.670260e+09,"['ChatGPT', 'MusicTheory']",Twitter Web App,"{'neg': 0.175, 'neu': 0.699, 'pos': 0.126, 'co...",0.175,0.699,0.126,-0.1779,0,1
660292,Nick Perkins ‚Ä¢ Hebrews 13:8 ‚Ä¢ Development Manager,Ok now @OpenAI is just showing off. lol #ChatG...,"Raleigh, North Carolina, USA","A proud Dad of 3, husband, Dev manager, iOS en...",1.386177e+09,164.0,326.0,6317,False,1.670260e+09,['ChatGPT'],Twitter Web App,"{'neg': 0.0, 'neu': 0.615, 'pos': 0.385, 'comp...",0.000,0.615,0.385,0.6124,1,0
660297,Devang,Was just wondering is there any difference bet...,United States,"passionate by nature, software developer by pr...",1.432005e+09,15.0,86.0,307,False,1.670260e+09,"['ChatGPT', 'GPT3']",Twitter for Android,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.000,1.000,0.000,0.0000,0,0
660298,Norman Meuschke,#ChatGPT and similar #LLM pose a challenge to ...,"Wuppertal, Germany",Postdoc in @GippLab at @uniGoettingen \nPh.D. ...,1.298398e+09,149.0,262.0,451,False,1.670260e+09,"['ChatGPT', 'LLM']",Twitter Web App,"{'neg': 0.0, 'neu': 0.789, 'pos': 0.211, 'comp...",0.000,0.789,0.211,0.6705,1,0

In [26]:
y = df["positive"]

In [27]:
y.head()

0     0
1     1
2     1
9     0
10    0
Name: positive, dtype: int64

In [28]:
X.head()

,user_created,user_followers,user_friends,user_favourites,date,user_verified_False,user_verified_True,user_verified_False,user_verified_True,source_123WP,...,source_twitbot_haha,source_twitter-app503,source_twitterDemoTest3,source_twitterLisaHunter,source_twitter_com_flume,source_twitto_be_bot,source_usetwype,source_vassbots,source_vijay ds project,source_vish App
0,1.595255e+09,467.0,1233.0,49216,1.680443e+09,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1.655527e+09,8.0,126.0,239,1.680443e+09,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1.509479e+09,63.0,188.0,88,1.680443e+09,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
9,1.646190e+09,14.0,33.0,52,1.680443e+09,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
10,1.240673e+09,207.0,754.0,1124,1.680443e+09,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [29]:
# Split data into training and testing datasets
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [30]:
# Instantiate a StandardScaler instance
scaler = StandardScaler()

# Fit the training data to the standard scaler
X_scaler = scaler.fit(X_train)

# Transform the training data using the scaler
X_train_scaled = X_scaler.transform(X_train)

# Transform the testing data using the scaler
X_test_scaled = X_scaler.transform(X_test)

In [31]:
from sklearn.ensemble import RandomForestClassifier

# Create a random forest classifier
rf_model = RandomForestClassifier(n_estimators=100, random_state=1)

# Fitting the model
rf_model = rf_model.fit(X_train_scaled, y_train)

# Making predictions using the testing data
rf_predictions = rf_model.predict(X_test_scaled)

In [32]:
# Import BalancedRandomForestClassifier from imblearn
from imblearn.ensemble import BalancedRandomForestClassifier

# Instantiate a BalancedRandomForestClassifier instance
brf = BalancedRandomForestClassifier()

# Fit the model to the training data
brf.fit(X_train_scaled, y_train)

BalancedRandomForestClassifier()

In [35]:
# Predict labels for testing features
brf_predictions = brf.predict(X_test_scaled)

In [37]:
from sklearn.metrics import confusion_matrix

In [38]:
# Print the confusion matrix for balanced random forest data
confusion_matrix(y_test, brf_predictions)

array([[10329,  7369],
       [ 7815,  9646]])

In [40]:
from imblearn.metrics import classification_report_imbalanced

In [41]:
print(classification_report_imbalanced(y_test, brf_predictions))

                   pre       rec       spe        f1       geo       iba       sup

          0       0.57      0.58      0.55      0.58      0.57      0.32     17698
          1       0.57      0.55      0.58      0.56      0.57      0.32     17461

avg / total       0.57      0.57      0.57      0.57      0.57      0.32     35159