In [1]:
from pathlib import Path

In [2]:
import pandas as pd

In [3]:
cd /Users/troycassels/Documents

/Users/troycassels/Documents

In [4]:
file_path = "Documents"

In [5]:
df = pd.read_csv(Path("Sample GPT tweets.csv"))

In [6]:
df.head()

,user_name,text,user_location,user_description,user_created,user_followers,user_friends,user_favourites,user_verified,date,hashtags,source
0,Math_Maniac,ChatGPT does ascii art\n#ChatGPT https://t.co/...,"Decatur, GA",I work with a number of tools. Right now it's ...,2020-07-20 14:24:50+00:00,467.0,1233.0,49216,False,2023-04-02 13:44:07+00:00,['ChatGPT'],Twitter Web App
1,SmashKoders,#ChatGPT is funny sometimes ðŸ˜… https://t.co/cSa...,Mumbai,My life changed while debugging code ðŸ˜Š,2022-06-18 04:34:18+00:00,8.0,126.0,239,False,2023-04-02 13:43:46+00:00,['ChatGPT'],Twitter Web App
2,Andreas Illenseer,Letâ€™s put it in graphic terms. Drawing a #Unic...,"Mainz, Deutschland",Specialized in Regulatory & Digital Intelligen...,2017-10-31 19:35:24+00:00,63.0,188.0,88,False,2023-04-02 13:43:36+00:00,['Unicorn'],Twitter for iPhone
3,Bitone Great,ðŸ”¥#Buy!ðŸ”¥\nðŸ”¥RSI below 15!ðŸ”¥\n[#Bybit]\nâ¬† Recommen...,NaN,#ChatGPT (AI) powered Free Trading Signal! \nL...,2022-11-21 04:42:18+00:00,1093.0,492.0,47,False,2023-04-02 13:43:30+00:00,"['Buy', 'Bybit', 'Long', 'DODOUSDT']",rsi1
4,The Media Scoop,Italian data protection agencyÂ placed an immed...,India,Independent news aggregator & YouTuber at The ...,2023-03-07 01:51:53+00:00,0.0,37.0,0,False,2023-04-02 13:42:56+00:00,NaN,Twitter Web App

In [7]:
df.iloc[0]

user_name                                                 Math_Maniac
text                ChatGPT does ascii art\n#ChatGPT https://t.co/...
user_location                                             Decatur, GA
user_description    I work with a number of tools. Right now it's ...
user_created                                2020-07-20 14:24:50+00:00
user_followers                                                  467.0
user_friends                                                   1233.0
user_favourites                                                 49216
user_verified                                                   False
date                                        2023-04-02 13:44:07+00:00
hashtags                                                  ['ChatGPT']
source                                                Twitter Web App
Name: 0, dtype: object

In [8]:
import nltk
nltk.download('vader_lexicon')
from nltk.sentiment.vader import SentimentIntensityAnalyzer
sia= SentimentIntensityAnalyzer()

/Users/troycassels/opt/anaconda3/lib/python3.9/site-packages/scipy/__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.24.2
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"
[nltk_data] Downloading package vader_lexicon to
[nltk_data]     /Users/troycassels/nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

In [9]:
df['scores']=df['text'].apply(lambda body: sia.polarity_scores(str(body)))

In [10]:
df.head()

,user_name,text,user_location,user_description,user_created,user_followers,user_friends,user_favourites,user_verified,date,hashtags,source,scores
0,Math_Maniac,ChatGPT does ascii art\n#ChatGPT https://t.co/...,"Decatur, GA",I work with a number of tools. Right now it's ...,2020-07-20 14:24:50+00:00,467.0,1233.0,49216,False,2023-04-02 13:44:07+00:00,['ChatGPT'],Twitter Web App,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound..."
1,SmashKoders,#ChatGPT is funny sometimes ðŸ˜… https://t.co/cSa...,Mumbai,My life changed while debugging code ðŸ˜Š,2022-06-18 04:34:18+00:00,8.0,126.0,239,False,2023-04-02 13:43:46+00:00,['ChatGPT'],Twitter Web App,"{'neg': 0.0, 'neu': 0.58, 'pos': 0.42, 'compou..."
2,Andreas Illenseer,Letâ€™s put it in graphic terms. Drawing a #Unic...,"Mainz, Deutschland",Specialized in Regulatory & Digital Intelligen...,2017-10-31 19:35:24+00:00,63.0,188.0,88,False,2023-04-02 13:43:36+00:00,['Unicorn'],Twitter for iPhone,"{'neg': 0.0, 'neu': 0.857, 'pos': 0.143, 'comp..."
3,Bitone Great,ðŸ”¥#Buy!ðŸ”¥\nðŸ”¥RSI below 15!ðŸ”¥\n[#Bybit]\nâ¬† Recommen...,NaN,#ChatGPT (AI) powered Free Trading Signal! \nL...,2022-11-21 04:42:18+00:00,1093.0,492.0,47,False,2023-04-02 13:43:30+00:00,"['Buy', 'Bybit', 'Long', 'DODOUSDT']",rsi1,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound..."
4,The Media Scoop,Italian data protection agencyÂ placed an immed...,India,Independent news aggregator & YouTuber at The ...,2023-03-07 01:51:53+00:00,0.0,37.0,0,False,2023-04-02 13:42:56+00:00,NaN,Twitter Web App,"{'neg': 0.107, 'neu': 0.893, 'pos': 0.0, 'comp..."

In [11]:
df.iloc[0]

user_name                                                 Math_Maniac
text                ChatGPT does ascii art\n#ChatGPT https://t.co/...
user_location                                             Decatur, GA
user_description    I work with a number of tools. Right now it's ...
user_created                                2020-07-20 14:24:50+00:00
user_followers                                                  467.0
user_friends                                                   1233.0
user_favourites                                                 49216
user_verified                                                   False
date                                        2023-04-02 13:44:07+00:00
hashtags                                                  ['ChatGPT']
source                                                Twitter Web App
scores              {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...
Name: 0, dtype: object

In [12]:
df.dtypes

user_name            object
text                 object
user_location        object
user_description     object
user_created         object
user_followers      float64
user_friends        float64
user_favourites       int64
user_verified          bool
date                 object
hashtags             object
source               object
scores               object
dtype: object

In [13]:
X_not_categorical = df[["user_created","user_followers","user_friends","user_favourites","date"]]
X_not_categorical.head()

,user_created,user_followers,user_friends,user_favourites,date
0,2020-07-20 14:24:50+00:00,467.0,1233.0,49216,2023-04-02 13:44:07+00:00
1,2022-06-18 04:34:18+00:00,8.0,126.0,239,2023-04-02 13:43:46+00:00
2,2017-10-31 19:35:24+00:00,63.0,188.0,88,2023-04-02 13:43:36+00:00
3,2022-11-21 04:42:18+00:00,1093.0,492.0,47,2023-04-02 13:43:30+00:00
4,2023-03-07 01:51:53+00:00,0.0,37.0,0,2023-04-02 13:42:56+00:00

In [14]:
X_categorical_exc_location = df[["user_verified","source"]]
X_categorical_exc_location.head()

   user_verified              source
0          False     Twitter Web App
1          False     Twitter Web App
2          False  Twitter for iPhone
3          False                rsi1
4          False     Twitter Web App

In [15]:
X_categorical_exc_location = pd.get_dummies(X_categorical_exc_location)
X_categorical_exc_location.head()

,user_verified,source_Buffer,source_Constant Contact - Social Posts,source_Hootsuite Inc.,source_IFTTT,source_Make (formerly Integromat),source_Metricool,source_Missinglettr,source_Nelio Content,source_SocialChamp IO,source_Sprout Social,source_TweetDeck,source_Twitter Web App,source_Twitter for Android,source_Twitter for iPhone,source_rsi1
0,False,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0
1,False,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0
2,False,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
3,False,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
4,False,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0

In [16]:
X = pd.concat([X_not_categorical, X_categorical_exc_location], axis=1)
X.head()

,user_created,user_followers,user_friends,user_favourites,date,user_verified,source_Buffer,source_Constant Contact - Social Posts,source_Hootsuite Inc.,source_IFTTT,...,source_Metricool,source_Missinglettr,source_Nelio Content,source_SocialChamp IO,source_Sprout Social,source_TweetDeck,source_Twitter Web App,source_Twitter for Android,source_Twitter for iPhone,source_rsi1
0,2020-07-20 14:24:50+00:00,467.0,1233.0,49216,2023-04-02 13:44:07+00:00,False,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
1,2022-06-18 04:34:18+00:00,8.0,126.0,239,2023-04-02 13:43:46+00:00,False,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
2,2017-10-31 19:35:24+00:00,63.0,188.0,88,2023-04-02 13:43:36+00:00,False,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,2022-11-21 04:42:18+00:00,1093.0,492.0,47,2023-04-02 13:43:30+00:00,False,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,2023-03-07 01:51:53+00:00,0.0,37.0,0,2023-04-02 13:42:56+00:00,False,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0

In [18]:
def vader_scores(text, category):
    return vader.polarity_scores(text).get(category)

vader = SentimentIntensityAnalyzer()

df["Negative_Score"] = df.apply(lambda row : vader_scores(df["text"][row.name], "neg"),axis=1)
df["Neutral_Score"] = df.apply(lambda row : vader_scores(df["text"][row.name], "neu"),axis=1)
df["Positive_Score"] = df.apply(lambda row : vader_scores(df["text"][row.name], "pos"),axis=1)
df["Compound_Score"] = df.apply(lambda row : vader_scores(df["text"][row.name], "compound"),axis=1)

In [19]:
df.head()

,user_name,text,user_location,user_description,user_created,user_followers,user_friends,user_favourites,user_verified,date,hashtags,source,scores,Negative_Score,Neutral_Score,Positive_Score,Compound_Score
0,Math_Maniac,ChatGPT does ascii art\n#ChatGPT https://t.co/...,"Decatur, GA",I work with a number of tools. Right now it's ...,2020-07-20 14:24:50+00:00,467.0,1233.0,49216,False,2023-04-02 13:44:07+00:00,['ChatGPT'],Twitter Web App,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.000,1.000,0.000,0.0000
1,SmashKoders,#ChatGPT is funny sometimes ðŸ˜… https://t.co/cSa...,Mumbai,My life changed while debugging code ðŸ˜Š,2022-06-18 04:34:18+00:00,8.0,126.0,239,False,2023-04-02 13:43:46+00:00,['ChatGPT'],Twitter Web App,"{'neg': 0.0, 'neu': 0.58, 'pos': 0.42, 'compou...",0.000,0.580,0.420,0.4404
2,Andreas Illenseer,Letâ€™s put it in graphic terms. Drawing a #Unic...,"Mainz, Deutschland",Specialized in Regulatory & Digital Intelligen...,2017-10-31 19:35:24+00:00,63.0,188.0,88,False,2023-04-02 13:43:36+00:00,['Unicorn'],Twitter for iPhone,"{'neg': 0.0, 'neu': 0.857, 'pos': 0.143, 'comp...",0.000,0.857,0.143,0.7574
3,Bitone Great,ðŸ”¥#Buy!ðŸ”¥\nðŸ”¥RSI below 15!ðŸ”¥\n[#Bybit]\nâ¬† Recommen...,NaN,#ChatGPT (AI) powered Free Trading Signal! \nL...,2022-11-21 04:42:18+00:00,1093.0,492.0,47,False,2023-04-02 13:43:30+00:00,"['Buy', 'Bybit', 'Long', 'DODOUSDT']",rsi1,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.000,1.000,0.000,0.0000
4,The Media Scoop,Italian data protection agencyÂ placed an immed...,India,Independent news aggregator & YouTuber at The ...,2023-03-07 01:51:53+00:00,0.0,37.0,0,False,2023-04-02 13:42:56+00:00,NaN,Twitter Web App,"{'neg': 0.107, 'neu': 0.893, 'pos': 0.0, 'comp...",0.107,0.893,0.000,-0.5574

In [20]:
y = df["Compound_Score"]

In [21]:
y.head()

0    0.0000
1    0.4404
2    0.7574
3    0.0000
4   -0.5574
Name: Compound_Score, dtype: float64

In [22]:
X.head()

,user_created,user_followers,user_friends,user_favourites,date,user_verified,source_Buffer,source_Constant Contact - Social Posts,source_Hootsuite Inc.,source_IFTTT,...,source_Metricool,source_Missinglettr,source_Nelio Content,source_SocialChamp IO,source_Sprout Social,source_TweetDeck,source_Twitter Web App,source_Twitter for Android,source_Twitter for iPhone,source_rsi1
0,2020-07-20 14:24:50+00:00,467.0,1233.0,49216,2023-04-02 13:44:07+00:00,False,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
1,2022-06-18 04:34:18+00:00,8.0,126.0,239,2023-04-02 13:43:46+00:00,False,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
2,2017-10-31 19:35:24+00:00,63.0,188.0,88,2023-04-02 13:43:36+00:00,False,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,2022-11-21 04:42:18+00:00,1093.0,492.0,47,2023-04-02 13:43:30+00:00,False,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,2023-03-07 01:51:53+00:00,0.0,37.0,0,2023-04-02 13:42:56+00:00,False,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0